<div class="survey-wrap" >Survey
	<p>What can we help you find ?</p>

	<div class="help-options">
		<div class="logo-wheels"><i class="fa fa-square-o fa-6"> Wheels </i></div>
		<div class="logo-tires"><i class="fa fa-bullseye fa-6"> Tires </i></div>
		<div class="logo-packages"><i class="fa fa-asterisk fa-6"> Packages </i></div>
	</div>

	<div class="wheel-options">
		<div>Size</div>
		<select class="size">
			<option> 15 </option>
			<option> 16 </option>
			<option> 17 </option>
			<option> 18 </option>
			<option> 19 </option>
			<option> 20 </option>
			<option> 22 </option>
			<option> 24 </option>
			<option> 26 </option>
			<option> 28 </option>
			<option> 30 </option>
			<option> 32 </option>
		</select>
		
		<div>Finish</div>
		<select class="finish">
			<option> Chrome </option>
			<option> Black </option>
			<option> Silver </option>
		</select>
	</div>

	<div class="car-info">
		<ul>
			<div> Year </div>
			<select>
				<option> 1960 - 1980 </option>
				<option> 1981 - 1999 </option>
				<option> 2000 - now </option>
			</select>
			<div> Make </div>
			<select>
			<option>Chevy</option>
			<option>Cadillac</option>
			</select>
		</br>
			<div> Model </div>
			<select>
			<option>Chevy</option>
			<option>Cadillac</option>
			</select>
		</ul>
	</div>
</div>